/* ---------- */
/* base style */
/* ---------- */

/* reset.css */
@import url(https://reset5.googlecode.com/hg/reset.min.css);

ul>li{
	list-style: none;
}

a{
	outline: none !important;
}
a:link, a:visited{
	color: $link;
	text-decoration: none;
}
a:hover,a:active{
	color: $link;
	text-decoration: underline;
}
input:focus, textarea:focus{
	outline: none;
}
em{
	font-style: normal;
}

body{
	color: $base;
	font-family: "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS Gothic", sans-serif;
	font-size: 12px;
}