/* ----------- */
/* base layout */
/* ----------- */

.content {
	background: url("layouts/bg_stripe_l.png") repeat-x 0 0;

	>.inner{
		margin: 0 auto;
		width: 900px;
		@include clearfix;

		>.main_content{
			width: 600px;
			min-height: 800px;
			float: left;
			background: url("layouts/bg_transparent_white.png") repeat 0 0;
			@include box-shadow(0 0 5px 2px hsla(0, 0%, 0%, 0.08));
		}
		>.side_content{
			width: 270px;
			float: right;

			header{		
				h1{
					margin: 40px 0;
				}	
			}

			nav{
				.nav_module{
					background: url("layouts/bg_transparent_white.png") repeat 0 0;
					margin: 0 0 20px;
					padding: 10px;
					border: solid 2px #fff;
					@include border-radius(4px);

					h1{
						margin-bottom: 15px;
						padding-bottom: 8px;
						@include separator(bottom);
					}
					.more_link{
						@include icn_arrow;
						text-align: right;
						margin-top: 15px;
					}
					.tree_list{
						margin-bottom: 10px;

						li{
							margin-bottom: 7px;
							@include icn_arrow;
						}
						ul{
							margin: 4px 0 0 15px;

							li{
								margin-bottom: 4px;

								a{
									background: url("common/icn_border.png") no-repeat 0 50%;
									padding-left: 13px;
								}
							}
						}
					}

					&.nav_profile{
						figure{
							float: left;
							margin: 0 10px 10px 0;

							img{
								border: solid 1px #eef7fb;
							}
						}
						.name{
							font-weight: bold;
							line-height: 1.75;
						}
						.catch{
							line-height: 1.75;
						}
						.description{
							clear: left;
							line-height: 1.75;
						}
					}

					&.nav_tag{
						.tag_cloud{

							li{
								display: inline-block;
								margin: 0 0 5px 5px;

								&.lv5{
									font-weight: bold;
									font-size: 18px;
								}
								&.lv4{
									font-weight: bold;
									font-size: 16px;
								}
								&.lv3{
									font-size: 14px;
								}
								&.lv2{
									font-size: 12px;
								}
								&.lv1{
									font-size: 10px;
								}
							}
						}
					}

				}
			}
		}
	}
}