/* ------------- */
/* mixin modules */
/* ------------- */

@mixin opacity($v){
	&:hover{
		img, &[type = "image"]{
			opacity: $v;
			-ms-filter: "alpha(opacity=#{$v * 100})"; /* IE 8 */
			filter:alpha(opacity=#{$v * 100}); /* IE lt 8 */
		}	
	}
}

@mixin separator($y){
	background: url("common/bdr_separator.png") repeat-x left $y;
	zoom: 1
}

@mixin icn_arrow{	
	a{
		background: url("common/icn_arrow.png") no-repeat 0 50%;
		padding-left: 13px;
	}
}