/* ------------- */
/* mixin modules */
/* ------------- */

@mixin opacity($v){
	&:hover{
		img, &[type = "image"]{
			opacity: $v;
			-ms-filter: "alpha(opacity=#{$v * 100})"; /* IE 8 */
			filter:alpha(opacity=#{$v * 100}); /* IE lt 8 */
		}	
	}
}