#entries{
	article{
		padding: 45px 20px 30px;
		@include separator(bottom);

		>header{
			.date{
			}
			h1{
				font-size: 18px;
				font-weight: normal;
				margin: 5px 0 15px;

				a{
					color: $head;
				}
			}
		}

		>.body{

		}

		>footer{

		}

	}
}